<div class="container">
    <%= link_to "sample app", "/", id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Trang Chủ",   "/" %></li>
            <li><%= link_to "Trợ Giúp",   "/help" %></li>
            <li><%= link_to "Đăng Nhập", "/signup" %></li>
        </ul>
    </nav>
</div>