<div class="container">
  <%= link_to "Duong", "/", class: "logo"%>
  <nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to t("static_pages.home.title"), "/" %></li>
    <li><%= link_to t("static_pages.help.title"), "/help" %></li>
    <li><%= link_to t(".signup"), "/signup" %></li>
    </ul>
  </nav>
</div>
